h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px!important;
    font-weight: 300!important;
    text-align: center;
    z-index: 1!important;
}
h1.bis {
    position: relative;
    font-size: 100px!important;
    font-weight: 300!important;
    text-align: center;
    color: #eae9e9;
    margin: -80px 0 0 0;
    z-index: -1!important;
}
/* maintain footer at bottom with push class*/
.wrapper {
    width: 100%;
    min-height: 100%;
    background: transparent;
    margin-bottom: -50px; /* Equal to height of footer */
}
.footer, .push {height: 50px;} 

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

main {
    margin-top: 50px;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

/* HERO *****************************************************/
.hero {
    background-image: url(../img/design/hero_01.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.slogan {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.5rem;
    margin-left: -23%;
}

/* LIST ****************************************************/

ul a:hover{
    color: #d9b420 !important;
}

nav li{
    text-align: center;
    text-transform: uppercase;
}

li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #fdd162;
    transform: scaleX(0);
    transition: transform .3s;
}

li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}

.active{
    color: #fece55 !important;
}

/* MENUS *************************************************/

.menuIcon {
    display: inline;
    vertical-align: baseline;
}

form.search {
    background-color:transparent!important;
    height: 35px;

}
.fa-search {
    margin-bottom: 5px;
}

.topmenu, .categmenu {
    display: block;
    height: 35px;
    width: 100%;
    top: 0;
}

.topmenu a {
    color: #fff;
    font-size: .7em;
}

.categmenu a {
    color: #000;
    font-size: .7em;
}

.mainmenu {
    display: block;
    width: 100%;
    top: 0;
    z-index: 999;
}

@media only screen and (max-width: 767px) {
    .categmenu .navbar-nav li {
        padding: 0 10px;
    }
    .topmenu .navbar-nav li {
        margin: -5px 10px;
    }
    .lined {
        display: inline;
        padding-left: 2rem;
    }
}